Repository CBSE-summer2024/team6, pull requests merged in 2024-08, with the labels that each got.

#2 Create Register Home
  declarative_mobile_frameworks-main/lib/home_page.dart
Labels: mobile-home-reg

#3 Create Login Screen
  declarative_mobile_frameworks-main/lib/login_page.dart
Labels: mobile-login

#1 Create Custom Search Component
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/components/SearchTextField.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/ui/theme/Theme.kt
Labels: mobile-search

#4 Create Signup Screen
  declarative_mobile_frameworks-main/lib/signup_page.dart
Labels: mobile-signup

#8 Create App Navigation
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/ComposeActivity.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/navigation/AppNavigation.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/search/SearchNavigation.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/home/HomeNavigation.kt
Labels: mobile-navigation

#9 Create Custom Card UI
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/components/CustomCard.kt
Labels: mobile-cards

#10 Create Home Page UI After Login + Search Screen
  declarative_mobile_frameworks-main/android/app/build.gradle
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/home/HomeNavigation.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/home/HomeScreen.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/model/CardUiModel.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/search/SearchNavigation.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/search/SearchScreen.kt
  declarative_mobile_frameworks-main/android/app/src/main/kotlin/com/example/native_navigation/MainActivity.kt
  declarative_mobile_frameworks-main/android/app/src/main/res/drawable/message_question.png
Labels: mobile-search, mobile-home-reg

#11 Kotlin
  declarative_mobile_frameworks-main/android/app/build.gradle
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/ComposeActivity.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/components/CustomCard.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/components/SearchTextField.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/home/HomeNavigation.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/home/HomeScreen.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/model/CardUiModel.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/navigation/AppNavigation.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/search/SearchNavigation.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/search/SearchScreen.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/ui/theme/Theme.kt
  declarative_mobile_frameworks-main/android/app/src/main/kotlin/com/example/native_navigation/MainActivity.kt
  declarative_mobile_frameworks-main/android/app/src/main/res/drawable/message_question.png
Labels: mobile-kotlin

#12 Flutter
  declarative_mobile_frameworks-main/assets/home.png
  declarative_mobile_frameworks-main/lib/home_page.dart
  declarative_mobile_frameworks-main/lib/login_page.dart
  declarative_mobile_frameworks-main/lib/main.dart
  declarative_mobile_frameworks-main/lib/native_channel.dart
  declarative_mobile_frameworks-main/lib/signup_page.dart
  declarative_mobile_frameworks-main/pubspec.yaml
Labels: mobile-flutter

#13 Setup project
  declarative_mobile_frameworks-main/android/app/build.gradle
  declarative_mobile_frameworks-main/android/app/src/main/AndroidManifest.xml
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/ComposeActivity.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/MainViewModel.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/components/CustomCard.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/components/SearchTextField.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/di/MyApp.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/home/HomeNavigation.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/home/HomeScreen.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/model/CardUiModel.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/navigation/AppNavigation.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/search/SearchNavigation.kt
  declarative_mobile_frameworks-main/android/app/src/main/java/com/example/native_navigation/search/SearchScreen.kt
  declarative_mobile_frameworks-main/android/app/src/main/kotlin/com/example/native_navigation/MainActivity.kt
  declarative_mobile_frameworks-main/android/app/src/main/res/drawable/message_question.png
  declarative_mobile_frameworks-main/assets/home.png
  declarative_mobile_frameworks-main/lib/home_page.dart
  declarative_mobile_frameworks-main/lib/login_page.dart
  declarative_mobile_frameworks-main/lib/main.dart
  declarative_mobile_frameworks-main/lib/native_channel.dart
  declarative_mobile_frameworks-main/lib/signup_page.dart
  declarative_mobile_frameworks-main/pubspec.yaml
Labels: mobile-team
